In [ ]:
# using for loop

In [2]:
sal=int(input("enter salary"))
if sal>30000:
    print("eligible for EMI")
else:
    print("not elegible for EMI")

enter salary 40000

eligible for EMI

In [4]:
num=int(input("enter no"))
if num>=100 and num<=999:
    print("yes")
else:
    print("not a 3")

enter no 45

not a 3

In [8]:
ename='rahul'
enames=['rahul','gandhi','sonia']
t=(10,20,30)
eids={101,102,103}
for ele in enames:
    print(ele)

rahul
gandhi
sonia

In [17]:
for x in range(1,11,1):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [22]:
for x in range(100,50,-4):
    print(x)

100
96
92
88
84
80
76
72
68
64
60
56
52

In [13]:
for x in range(1,11):
    print(6,"*",x,"=",6*x)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [14]:
for x in range(0,19,2):
    print(x)

0
2
4
6
8
10
12
14
16
18

In [23]:
for x in range(0,19,2):
    print(x,end="\t")

0	2	4	6	8	10	12	14	16	18

In [25]:
emp={
    'id':'1',
    'name':'rahul',
    'sal':45000
}
for ele,value in emp.items():
    print(ele,":",value)

id : 1
name : rahul
sal : 45000

In [21]:
a=['good morning']
for ele in a:
    print(ele*10)

good morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morninggood morning

In [26]:
for i in range(0,5):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *